.button {
    background-color: #4CAF50; /* Green */
    -webkit-transition-duration: 0.4s;
    transition-duration:0.4s;	 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: auto
}
.button:hover{
    background-color: white;
    color: green;
}
.heading {
    font-size: 40px
}

.livefeed {
    font-size: 25px
}